In [2]:
import pandas as pd
import numpy as np

In [3]:
#importing data from excel
df_song_list = pd.read_excel('Most Streamed Spotify Songs 2024.xlsx', sheet_name='Spotify Song List')
df_stream_detail = pd.read_excel('Most Streamed Spotify Songs 2024.xlsx', sheet_name='Spotify Stream Detail')

In [4]:
df_song_list.head()

,ID,Track,Album Name,Artist,Release Date,ISRC
0,1,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,QM24S2402528
1,2,Not Like Us,Not Like Us,Kendrick Lamar,2024-04-05 00:00:00,USUG12400910
2,3,i like the way you kiss me,I like the way you kiss me,Artemas,3/19/2024,QZJ842400387
3,4,Flowers,Flowers - Single,Miley Cyrus,2023-12-01 00:00:00,USSM12209777
4,5,Houdini,Houdini,Eminem,5/31/2024,USUG12403398

In [5]:
df_stream_detail.head()

,ID,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,Spotify Popularity,YouTube Views,YouTube Likes,TikTok Posts,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
0,1,1,725.4,3.904709e+08,30716.0,196631588.0,92.0,8.427475e+07,1713126.0,5767700.0,...,684.0,62.0,17598718.0,114.0,18004655.0,22931.0,4818457.0,2669262.0,NaN,0
1,2,2,545.9,3.237039e+08,28113.0,174597137.0,92.0,1.163470e+08,3486739.0,674700.0,...,3.0,67.0,10422430.0,111.0,7780028.0,28444.0,6623075.0,1118279.0,NaN,1
2,3,3,538.4,6.013093e+08,54331.0,211607669.0,92.0,1.225991e+08,2228730.0,3025400.0,...,536.0,136.0,36321847.0,172.0,5022621.0,5639.0,7208651.0,5285340.0,NaN,0
3,4,4,444.9,2.031281e+09,269802.0,136569078.0,85.0,1.096101e+09,10629796.0,7189811.0,...,2182.0,264.0,24684248.0,210.0,190260277.0,203384.0,NaN,11822942.0,NaN,0
4,5,5,423.3,1.070349e+08,7223.0,151469874.0,88.0,7.737396e+07,3670188.0,16400.0,...,1.0,82.0,17660624.0,105.0,4493884.0,7006.0,207179.0,457017.0,NaN,1

In [6]:
print(df_stream_detail.shape)
print(df_song_list.shape)

(4600, 25)
(4600, 6)

In [7]:
#concatenate the two dataframes based on ID
df = pd.merge(df_song_list, df_stream_detail , on='ID')
df.head()

,ID,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
0,1,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,4/26/2024,QM24S2402528,1,725.4,3.904709e+08,30716.0,...,684.0,62.0,17598718.0,114.0,18004655.0,22931.0,4818457.0,2669262.0,NaN,0
1,2,Not Like Us,Not Like Us,Kendrick Lamar,2024-04-05 00:00:00,USUG12400910,2,545.9,3.237039e+08,28113.0,...,3.0,67.0,10422430.0,111.0,7780028.0,28444.0,6623075.0,1118279.0,NaN,1
2,3,i like the way you kiss me,I like the way you kiss me,Artemas,3/19/2024,QZJ842400387,3,538.4,6.013093e+08,54331.0,...,536.0,136.0,36321847.0,172.0,5022621.0,5639.0,7208651.0,5285340.0,NaN,0
3,4,Flowers,Flowers - Single,Miley Cyrus,2023-12-01 00:00:00,USSM12209777,4,444.9,2.031281e+09,269802.0,...,2182.0,264.0,24684248.0,210.0,190260277.0,203384.0,NaN,11822942.0,NaN,0
4,5,Houdini,Houdini,Eminem,5/31/2024,USUG12403398,5,423.3,1.070349e+08,7223.0,...,1.0,82.0,17660624.0,105.0,4493884.0,7006.0,207179.0,457017.0,NaN,1

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4600 entries, 0 to 4599
Data columns (total 30 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          4600 non-null   int64
 1   Track                       4600 non-null   object
 2   Album Name                  4595 non-null   object
 3   Artist                      4595 non-null   object
 4   Release Date                4600 non-null   object
 5   ISRC                        4600 non-null   object
 6   All Time Rank               4600 non-null   int64
 7   Track Score                 4600 non-null   float64
 8   Spotify Streams             4487 non-null   float64
 9   Spotify Playlist Count      4530 non-null   float64
 10  Spotify Playlist Reach      4528 non-null   float64
 11  Spotify Popularity          3796 non-null   float64
 12  YouTube Views               4292 non-null   float64
 13  YouTube Likes               4285 non-null   float64
 14  TikTok Posts                3427 non-null   float64
 15  TikTok Likes                3620 non-null   float64
 16  TikTok Views                3619 non-null   float64
 17  YouTube Playlist Reach      3591 non-null   float64
 18  Apple Music Playlist Count  4039 non-null   float64
 19  AirPlay Spins               4102 non-null   float64
 20  SiriusXM Spins              2477 non-null   float64
 21  Deezer Playlist Count       3679 non-null   float64
 22  Deezer Playlist Reach       3672 non-null   float64
 23  Amazon Playlist Count       3545 non-null   float64
 24  Pandora Streams             3494 non-null   float64
 25  Pandora Track Stations      3332 non-null   float64
 26  Soundcloud Streams          1267 non-null   float64
 27  Shazam Counts               4023 non-null   float64
 28  TIDAL Popularity            0 non-null      float64
 29  Explicit Track              4600 non-null   int64
dtypes: float64(22), int64(3), object(5)
memory usage: 1.1+ MB

In [9]:
df.describe()

,ID,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,Spotify Popularity,YouTube Views,YouTube Likes,TikTok Posts,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
count,4600.000000,4600.000000,4600.000000,4.487000e+03,4530.000000,4.528000e+03,3796.000000,4.292000e+03,4.285000e+03,3.427000e+03,...,2477.000000,3679.000000,3.672000e+03,3545.000000,3.494000e+03,3.332000e+03,1.267000e+03,4.023000e+03,0.0,4600.000000
mean,2300.500000,2290.678043,41.844043,4.473873e+08,59390.829801,2.334682e+07,63.501581,4.027967e+08,2.930049e+06,9.443076e+05,...,257.344368,32.310954,1.294939e+06,25.348942,8.566735e+07,8.787697e+04,1.484797e+07,2.529149e+06,NaN,0.358913
std,1328.049949,1322.878312,38.543766,5.384439e+08,71131.406625,2.968717e+07,16.186438,7.019000e+08,4.593640e+06,2.442080e+06,...,554.737321,54.274538,3.555543e+06,25.989826,1.678785e+08,2.608537e+05,3.213281e+07,6.038786e+06,NaN,0.479734
min,1.000000,1.000000,19.400000,1.071000e+03,1.000000,1.000000e+00,1.000000,9.130000e+02,2.500000e+01,1.000000e+00,...,1.000000,1.000000,1.000000e+00,1.000000,2.000000e+00,1.000000e+00,1.800000e+01,1.000000e+00,NaN,0.000000
25%,1150.750000,1144.750000,23.300000,7.038630e+07,6718.000000,4.791612e+06,61.000000,4.073032e+07,4.095490e+05,3.818650e+04,...,25.000000,5.000000,5.216600e+04,8.000000,1.057955e+06,1.261500e+03,7.684075e+05,2.301950e+05,NaN,0.000000
50%,2300.500000,2290.500000,29.900000,2.398507e+08,32312.500000,1.325948e+07,67.000000,1.482696e+08,1.257935e+06,1.822000e+05,...,86.000000,15.000000,2.371205e+05,17.000000,1.273577e+07,7.832000e+03,3.224599e+06,8.545840e+05,NaN,0.000000
75%,3450.250000,3436.250000,44.425000,6.283638e+08,86038.750000,2.966069e+07,73.000000,4.647882e+08,3.573193e+06,7.948775e+05,...,255.000000,37.000000,9.063012e+05,34.000000,8.150121e+07,4.922400e+04,1.338760e+07,2.684638e+06,NaN,1.000000
max,4600.000000,4998.000000,725.400000,4.281469e+09,590392.000000,2.623434e+08,96.000000,1.632276e+10,6.231118e+07,4.290000e+07,...,7098.000000,632.000000,4.819785e+07,210.000000,1.463624e+09,3.780513e+06,3.198359e+08,2.197945e+08,NaN,1.000000

In [10]:
df.describe(exclude = np.number)

,Track,Album Name,Artist,Release Date,ISRC
count,4600,4595,4595,4600,4600
unique,4370,4004,1999,1562,4598
top,Danza Kuduro - Cover,Un Verano Sin Ti,Drake,2012-01-01 00:00:00,USWL11700269
freq,13,20,63,38,2

In [11]:
df.isnull().sum()

ID                               0
Track                            0
Album Name                       5
Artist                           5
Release Date                     0
ISRC                             0
All Time Rank                    0
Track Score                      0
Spotify Streams                113
Spotify Playlist Count          70
Spotify Playlist Reach          72
Spotify Popularity             804
YouTube Views                  308
YouTube Likes                  315
TikTok Posts                  1173
TikTok Likes                   980
TikTok Views                   981
YouTube Playlist Reach        1009
Apple Music Playlist Count     561
AirPlay Spins                  498
SiriusXM Spins                2123
Deezer Playlist Count          921
Deezer Playlist Reach          928
Amazon Playlist Count         1055
Pandora Streams               1106
Pandora Track Stations        1268
Soundcloud Streams            3333
Shazam Counts                  577
TIDAL Popularity              4600
Explicit Track                   0
dtype: int64

In [12]:
df.duplicated().sum()

0

In [13]:
df[df['Album Name'].isnull()]

,ID,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
158,159,Bad Habits,NaN,Ed Sheeran,2020-01-01 00:00:00,GBAHS2100318,159,120.8,1.754312e+09,271758.0,...,1035.0,352.0,7318680.0,136.0,269834154.0,88143.0,17144484.0,15886717.0,NaN,0
330,331,Shivers,NaN,Ed Sheeran,2020-01-01 00:00:00,GBAHS2100671,330,84.4,1.568058e+09,188855.0,...,1773.0,222.0,4658778.0,112.0,290859819.0,66708.0,NaN,10179048.0,NaN,0
540,541,Bam Bam (feat. Ed Sheeran),NaN,Camila Cabello,10/29/2021,USSM12200047,539,66.2,9.078218e+08,106835.0,...,1115.0,98.0,2702560.0,79.0,47200073.0,18000.0,NaN,7126240.0,NaN,0
2892,2893,Peru,NaN,Fireboy DML,2020-01-01 00:00:00,USUYG1403104,2880,26.0,3.165889e+08,82524.0,...,1457.0,23.0,600381.0,49.0,19592967.0,8768.0,NaN,4534741.0,NaN,1
3366,3367,Afterglow,NaN,Ed Sheeran,2020-01-01 00:00:00,GBAHS2001193,3345,23.7,4.614955e+08,64344.0,...,81.0,51.0,659475.0,37.0,20459070.0,7837.0,NaN,4121636.0,NaN,0

In [14]:
df[df['Artist'].isnull()]

,ID,Track,Album Name,Artist,Release Date,ISRC,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,...,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,TIDAL Popularity,Explicit Track
311,312,Cool,JnD Mix,NaN,5/25/2024,QZNWQ2410638,311,86.5,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8624577.0,NaN,0
480,481,I Wanna Party,I Wanna Party - Single,NaN,5/31/2024,QZYFZ2445017,482,70.3,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1345,1346,Marlboro Remix,Marlboro Remix - Single,NaN,2024-07-06 00:00:00,QZNWT2471497,1343,40.6,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,504979.0,NaN,0
1561,1562,Melting,Melting - Single,NaN,2024-10-06 00:00:00,QZNWU2402635,1553,37.2,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,289134.0,NaN,0
3402,3403,La ï¿½ï¿½ltima Vez (Yo Te Per,La ï¿½ï¿½ltima Vez (Yo Te Perdï¿½ï¿½),NaN,2024-02-05 00:00:00,MX2832415361,3381,23.6,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1606561.0,NaN,0

In [15]:
#filling the null values with 'singles' in 'Album Name' Column
df['Album Name'] = df['Album Name'].fillna('Singles')
#filling the null values with 'Unknown Artists' in 'Artist' Column
df['Artist'] = df['Artist'].fillna('Unknown Artist')

#Dropping ISRC and 'TIDAL Popularity' columns
df = df.drop(columns=['ISRC', 'TIDAL Popularity'])

In [16]:
df.isnull().sum()

ID                               0
Track                            0
Album Name                       0
Artist                           0
Release Date                     0
All Time Rank                    0
Track Score                      0
Spotify Streams                113
Spotify Playlist Count          70
Spotify Playlist Reach          72
Spotify Popularity             804
YouTube Views                  308
YouTube Likes                  315
TikTok Posts                  1173
TikTok Likes                   980
TikTok Views                   981
YouTube Playlist Reach        1009
Apple Music Playlist Count     561
AirPlay Spins                  498
SiriusXM Spins                2123
Deezer Playlist Count          921
Deezer Playlist Reach          928
Amazon Playlist Count         1055
Pandora Streams               1106
Pandora Track Stations        1268
Soundcloud Streams            3333
Shazam Counts                  577
Explicit Track                   0
dtype: int64

In [17]:
#fill the null values with 0 for all the columns
df = df.fillna(0)

In [21]:
#converting all the dates in 'Release Date' to date format
df['Release Date'] = pd.to_datetime(df['Release Date']).dt.strftime('%m/%d/%Y')

In [22]:
df.head()

,ID,Track,Album Name,Artist,Release Date,All Time Rank,Track Score,Spotify Streams,Spotify Playlist Count,Spotify Playlist Reach,...,AirPlay Spins,SiriusXM Spins,Deezer Playlist Count,Deezer Playlist Reach,Amazon Playlist Count,Pandora Streams,Pandora Track Stations,Soundcloud Streams,Shazam Counts,Explicit Track
0,1,MILLION DOLLAR BABY,Million Dollar Baby - Single,Tommy Richman,04/26/2024,1,725.4,3.904709e+08,30716.0,196631588.0,...,40975.0,684.0,62.0,17598718.0,114.0,18004655.0,22931.0,4818457.0,2669262.0,0
1,2,Not Like Us,Not Like Us,Kendrick Lamar,04/05/2024,2,545.9,3.237039e+08,28113.0,174597137.0,...,40778.0,3.0,67.0,10422430.0,111.0,7780028.0,28444.0,6623075.0,1118279.0,1
2,3,i like the way you kiss me,I like the way you kiss me,Artemas,03/19/2024,3,538.4,6.013093e+08,54331.0,211607669.0,...,74333.0,536.0,136.0,36321847.0,172.0,5022621.0,5639.0,7208651.0,5285340.0,0
3,4,Flowers,Flowers - Single,Miley Cyrus,12/01/2023,4,444.9,2.031281e+09,269802.0,136569078.0,...,1474799.0,2182.0,264.0,24684248.0,210.0,190260277.0,203384.0,0.0,11822942.0,0
4,5,Houdini,Houdini,Eminem,05/31/2024,5,423.3,1.070349e+08,7223.0,151469874.0,...,12185.0,1.0,82.0,17660624.0,105.0,4493884.0,7006.0,207179.0,457017.0,1

In [26]:
#export the cleaned data to a new excel file
df.to_excel('Most Streamed Spotify Songs 2024_cleaned.xlsx', index=False)